.errorMessage {
  border: 0.1rem solid black;
  margin: 2rem;
  padding: 1.5rem;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: rgb(249, 192, 36);
}
