.nav {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}
.navButton {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.menu {
  display: flex;
}
.rightLinks {
  display: flex;
}
.rightLinkItems {
  list-style-type: none;
}

.link {
  color: black;
  font-size: 1.1rem;
  padding-top: 1rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}
.activeLink {
  color: #0ea68c;
}

.header {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.logo {
  font-size: 1.8rem;
  border: 0.09rem solid black;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem -0.1rem black;
  text-shadow: 0.05rem 0.12rem 3.5rem;
  border-radius: 0.25rem;
}
.header {
}
