.product {
  max-width: 100%;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  padding: 0 1rem;
  justify-content: center;
}
.badge {
  border: 0.09rem solid black;
  max-width: 100%;
  background-color: rgb(249, 189, 61);
  box-shadow: 0rem 0.05rem 0.5rem -0.05rem black;
  opacity: 0.9;
  border-radius: 1.5rem;
  text-align: right;
  position: absolute;
  top: 2.8rem;
  left: 22.4rem;
  padding: 0rem;
}
.addToCartButtonContainer {
  text-align: right;
  margin: 0.35rem;
}
.button {
  background-color: rgb(246, 243, 62);
  color: black;
  font-size: 1rem;
  width: 7rem;
  padding: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.card {
  max-width: 100%;
  display: grid;
  justify-content: center;
  border: 0.1rem solid black;
  margin: 1rem 0;
  box-shadow: 0rem 0.1rem 1rem -0.1rem black;
}

.productImage {
  border: 0.1rem solid black;
  margin: 1rem;
  max-width: 100%;
  justify-self: center;
}

.imageContainer {
  position: relative;
  display: grid;
  justify-content: center;
  max-width: 100%;
  padding: 1rem;
  margin: 0.27rem;
}
.borderPositioner {
  max-width: 100%;
  display: grid;
  align-items: center;
}
.productInfoContainer {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
  text-align: left;
  margin: 0 0.27rem;
  padding: 1rem;
}

.productInfo {
  display: grid;
  max-width: 26.824375rem;
  width: max-content;
  align-items: center;
  border: 0.09rem solid black;
  margin: 0.35rem 0rem;
  padding: 0.16rem;
}

@media only screen and (min-width: 70rem) {
  .product {
    margin: 0rem;
  }
}

@media only screen and (min-width: 33rem) {
  .badge {
    left: 23.1rem;
  }
}

@media only screen and (min-width: 70rem) {
}
